<footer class="border-b bg-white py-12 dark:bg-transparent">
    <div class="mx-auto max-w-5xl px-6">
        <div class="flex flex-wrap justify-between gap-6">
            <!-- Copyright -->
            <span class="text-caption order-last block text-center text-sm md:order-first">
                &copy; 2025 PodFlow, Tous droits réservés
            </span>

            <!-- Liens -->
            <div class="order-first flex flex-wrap justify-center gap-6 text-sm md:order-last">
                <a href="{{ path('app_home_index') }}" class="text-body block hover:text-title">
                    <span>Fonctionnalités</span>
                </a>
                <a href="{{ path('app_home_index') }}" class="text-body block hover:text-title">
                    <span>Tarifs</span>
                </a>
                <a href="{{ path('app_home_index') }}" class="text-body block hover:text-title">
                    <span>Admin</span>
                </a>
                <a href="{{ path('app_home_index') }}" class="text-body block hover:text-title">
                    <span>À propos</span>
                </a>
                <a href="{{ path('app_home_index') }}" class="text-body block hover:text-title">
                    <span>Contact</span>
                </a>
                <a href="{{ path('app_home_index') }}" class="text-body block hover:text-title">
                    <span>Aide</span>
                </a>
            </div>
        </div>
    </div>
</footer>